*.suo
obj
bin
*.userprefs
*tlog*
*.log
*.obj
*.idb
*.pdb
*.user
*.sdf
*.opensdf
*.exp
*.ilk
*.lib
*.dll
*.pidb
*.dll.meta
*.a
*.a.meta
*swp
*.so
*.xcuserstate
*.xckptlist
*.xccheckout
src/managed/udpkit.example.unity/*_Data/*
src/managed/udpkit.example.unity/*.exe
src/managed/udpkit.example.unity/Library
src/managed/udpkit.example.unity/Temp
src/managed/udpkit.example.unity/*.sln
src/managed/udpkit.example.unity/*.csproj